@{
    ViewBag.Title = "Create Role";
}

<h2>Create Role</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>Enter new role name:</div>
    <p>@Html.TextBox("RoleName")</p>
    <input class="btn btn-primary" type="submit" value="Save" />
}

<div>
    @Html.ActionLink("Back to Admin Control Panel", "ControlPanel")
</div>
